<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>查看</title>
		<link rel="stylesheet" href="../../../frame/layui/css/layui.css">
		<link rel="stylesheet" href="../../../frame/static/css/style.css">
		<link rel="icon" href="../../../frame/static/image/code.png">
	</head>

	<body class="body">
		<input type="hidden" id="id" />
		<div class="layui-form-item">
			<label class="layui-form-label">所属类别</label>
			<div class="layui-input-block">
				<input type="text" id="name" name="name" autocomplete="off" lay-verify="required" class="layui-input" readonly="readonly" />
			</div>
		</div>
		<input type="hidden" id="id" />
		<div class="layui-form-item">
			<label class="layui-form-label">菜品名称</label>
			<div class="layui-input-block">
				<input type="text" id="name" name="name" autocomplete="off" lay-verify="required" class="layui-input" readonly="readonly" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">菜品单价</label>
			<div class="layui-input-block">
				<input type="text" id="price" name="price" autocomplete="off" lay-verify="required" class="layui-input" readonly="readonly" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">折后价格</label>
			<div class="layui-input-block">
				<input type="text" id="discount" name="discount" autocomplete="off" lay-verify="required" class="layui-input" readonly="readonly" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">开始打折时间</label>
			<div class="layui-input-block">
				<input type="text" id="startTime" name="startTime" autocomplete="off" lay-verify="required" class="layui-input" readonly="readonly" />
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">结束打折时间</label>
			<div class="layui-input-block">
				<input type="text" id="endTime" name="endTime" autocomplete="off" lay-verify="required" class="layui-input" readonly="readonly" />
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">菜品简介</label>
			<div class="layui-input-block">
				图书简介
			</div>
		</div>

		<div class="layui-form-item">
			<input type="button" class="layui-btn" lay-submit="" lay-filter="demo1" value="修改">
			 <button type="reset" class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>
		</div>

	</body>

</html>
<script src="../../../frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../../../js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../../js/menu.js"></script>
<script type="text/javascript">

	layui.use(['form', 'layedit', 'laydate', 'element'], function() {
		var form = layui.form,
			layer = layui.layer,
			layedit = layui.layedit,
			laydate = layui.laydate,
			element = layui.element;

		//创建一个编辑器
		var editIndex = layedit.build('LAY_demo_editor');

		//自定义验证规则
		form.verify({
			title: function(value) {
				if(value.length < 5) {
					return '标题至少得5个字符啊';
				}
			},
			pass: [/(.+){6,12}$/, '密码必须6到12位'],
			content: function(value) {
				layedit.sync(editIndex);
			}
		});

		//监听提交
		/*		form.on('submit(sub)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					});
					return false;
				});
		*/
		// you code ...

	});
</script>