<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ambow.springboot.mapper.BuyMapper" >
  <resultMap id="BaseResultMap" type="com.ambow.springboot.entity.Buy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="buy_date" property="buyDate" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ambow.springboot.entity.Buy" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, num, buy_date, price, user_id
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <!--导入的方法-->
  <insert id="insert" parameterType="com.ambow.springboot.entity.Buy" >
    insert into buy (id, name, num,
      buy_date, price, user_id,
      info)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR},
      #{buyDate,jdbcType=TIMESTAMP}, #{price,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{info,jdbcType=LONGVARCHAR})
  </insert>
  <!--查询所有的方法-->
  <select id="listBuy"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from buy
    LIMIT ${start},${rows};
  </select>
  <!--查询所有总数-->
  <select id="selectBuyCount"  resultType="java.lang.Integer">
     SELECT
    count(*)
    FROM
    buy
  </select>
  <!--删除方法-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from buy
    where id = #{id,jdbcType=INTEGER}
  </select>


  <insert id="insertSelective" parameterType="com.ambow.springboot.entity.Buy" >
    insert into buy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="buyDate != null" >
        buy_date,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null" >
        #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ambow.springboot.entity.Buy" >
    update buy
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null" >
        buy_date = #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ambow.springboot.entity.Buy" >
    update buy
    set name = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      buy_date = #{buyDate,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ambow.springboot.entity.Buy" >
    update buy
    set name = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      buy_date = #{buyDate,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>