<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ambow.springboot.mapper.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.ambow.springboot.entity.Discuss" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="en_level" property="enLevel" jdbcType="INTEGER" />
    <result column="service_level" property="serviceLevel" jdbcType="INTEGER" />
    <result column="qu_level" property="quLevel" jdbcType="INTEGER" />
    <result column="discuss_id" property="discussId" jdbcType="INTEGER" />
    <result column="discuss_time" property="discussTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ambow.springboot.entity.Discuss" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="DiscussReplyVoMap" type="com.ambow.springboot.vo.DiscussReplyVo">
    <id column="discussId" property="discussId" jdbcType="INTEGER" />
    <result column="discussEnLevel" property="discussEnLevel" jdbcType="INTEGER" />
    <result column="discussServiceLevel" property="discussServiceLevel" jdbcType="INTEGER" />
    <result column="discussQuLevel" property="discussQuLevel" jdbcType="INTEGER" />
    <result column="discussTime" property="discussTime" jdbcType="TIMESTAMP" />
    <result column="discussInfo" property="discussInfo" jdbcType="VARCHAR" />
    <result column="replyId" property="replyId" jdbcType="INTEGER" />
    <result column="replyTime" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="replyInfo" property="replyInfo" jdbcType="VARCHAR" />
  </resultMap>
  <select id="DiscussList" resultMap="DiscussReplyVoMap" >
    select
    d1.id as discussId,
    d1.info as discussInfo,
    d1.en_level as discussEnLevel,
    d1.service_level as discussServiceLevel,
    d1.qu_level as discussQuLevel,
    d1.discuss_time as discussTime,
    d2.discuss_id as replyId,
    d2.discuss_time as replyTime,
    d2.info as replyInfo
    from
        discuss d1,discuss d2
    where d1.id=d2.discuss_id
  </select>
  <!--查询所有总数-->
  <select id="selectDiscussCount"  resultType="java.lang.Integer">
     SELECT
    count(*)
    FROM
    buy
  </select>
  <sql id="Base_Column_List" >
    id, en_level, service_level, qu_level, discuss_id, discuss_time
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from discuss
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ambow.springboot.entity.Discuss" >
    insert into discuss (id, en_level, service_level, 
      qu_level, discuss_id, discuss_time, 
      info)
    values (#{id,jdbcType=INTEGER}, #{enLevel,jdbcType=INTEGER}, #{serviceLevel,jdbcType=INTEGER}, 
      #{quLevel,jdbcType=INTEGER}, #{discussId,jdbcType=INTEGER}, #{discussTime,jdbcType=TIMESTAMP}, 
      #{info,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ambow.springboot.entity.Discuss" >
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enLevel != null" >
        en_level,
      </if>
      <if test="serviceLevel != null" >
        service_level,
      </if>
      <if test="quLevel != null" >
        qu_level,
      </if>
      <if test="discussId != null" >
        discuss_id,
      </if>
      <if test="discussTime != null" >
        discuss_time,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enLevel != null" >
        #{enLevel,jdbcType=INTEGER},
      </if>
      <if test="serviceLevel != null" >
        #{serviceLevel,jdbcType=INTEGER},
      </if>
      <if test="quLevel != null" >
        #{quLevel,jdbcType=INTEGER},
      </if>
      <if test="discussId != null" >
        #{discussId,jdbcType=INTEGER},
      </if>
      <if test="discussTime != null" >
        #{discussTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ambow.springboot.entity.Discuss" >
    update discuss
    <set >
      <if test="enLevel != null" >
        en_level = #{enLevel,jdbcType=INTEGER},
      </if>
      <if test="serviceLevel != null" >
        service_level = #{serviceLevel,jdbcType=INTEGER},
      </if>
      <if test="quLevel != null" >
        qu_level = #{quLevel,jdbcType=INTEGER},
      </if>
      <if test="discussId != null" >
        discuss_id = #{discussId,jdbcType=INTEGER},
      </if>
      <if test="discussTime != null" >
        discuss_time = #{discussTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ambow.springboot.entity.Discuss" >
    update discuss
    set en_level = #{enLevel,jdbcType=INTEGER},
      service_level = #{serviceLevel,jdbcType=INTEGER},
      qu_level = #{quLevel,jdbcType=INTEGER},
      discuss_id = #{discussId,jdbcType=INTEGER},
      discuss_time = #{discussTime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ambow.springboot.entity.Discuss" >
    update discuss
    set en_level = #{enLevel,jdbcType=INTEGER},
      service_level = #{serviceLevel,jdbcType=INTEGER},
      qu_level = #{quLevel,jdbcType=INTEGER},
      discuss_id = #{discussId,jdbcType=INTEGER},
      discuss_time = #{discussTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>