<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ambow.springboot.mapper.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.ambow.springboot.entity.Emp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="roles" property="roles" jdbcType="VARCHAR" />
    <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
    <result column="leave_time" property="leaveTime" jdbcType="TIMESTAMP" />
    <result column="wage" property="wage" jdbcType="INTEGER" />
    <result column="ticheng" property="ticheng" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, username, password, roles, entry_time, leave_time, wage, ticheng
  </sql>
  <!-- 得到所有的员工信息 -->
  <select id="getAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from emp
  </select>
  <!-- 根据id查找员工信息-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 根据id和密码查找员工信息-->
  <select id="selectBypassword" resultMap="BaseResultMap" parameterType="com.ambow.springboot.entity.Emp" >
    select
    <include refid="Base_Column_List" />
    from emp
    where id = #{empid} and  password=#{password}
  </select>
  <!-- 根据roles查询是采购员的-->
  <select id="selectByRoles" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from emp
    where roles = "采购员"
  </select>
  <!-- 根据id删除某个员工信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ambow.springboot.entity.Emp" >
    insert into emp (id, name, username, 
      password, roles, entry_time, 
      leave_time, wage, ticheng
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{roles,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, 
      #{leaveTime,jdbcType=TIMESTAMP}, #{wage,jdbcType=INTEGER}, #{ticheng,jdbcType=INTEGER}
      )
  </insert>
  <!-- 插入一条员工信息 -->
  <insert id="insertSelective" parameterType="com.ambow.springboot.entity.Emp" >
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="roles != null" >
        roles,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
      <if test="leaveTime != null" >
        leave_time,
      </if>
      <if test="wage != null" >
        wage,
      </if>
      <if test="ticheng != null" >
        ticheng,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        #{roles,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wage != null" >
        #{wage,jdbcType=INTEGER},
      </if>
      <if test="ticheng != null" >
        #{ticheng,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <!-- 根据id更新一条员工信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.ambow.springboot.entity.Emp" >
    update emp
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="roles != null" >
        roles = #{roles,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        entry_time = #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null" >
        leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wage != null" >
        wage = #{wage,jdbcType=INTEGER},
      </if>
      <if test="ticheng != null" >
        ticheng = #{ticheng,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ambow.springboot.entity.Emp" >
    update emp
    set name = #{name,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      roles = #{roles,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      wage = #{wage,jdbcType=INTEGER},
      ticheng = #{ticheng,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="login" resultMap="BaseResultMap" parameterType="Emp">
    select
    <include refid="Base_Column_List"/>
    from emp
    where username =#{username}and password=#{password}
  </select>
</mapper>