<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ambow.springboot.mapper.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.ambow.springboot.entity.Purchase" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_num" property="orderNum" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_num, goods_id, num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from purchase
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ambow.springboot.entity.Purchase" >
    insert into purchase (id, order_num, goods_id, 
      num)
    values (#{id,jdbcType=INTEGER}, #{orderNum,jdbcType=BIGINT}, #{goodsId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ambow.springboot.entity.Purchase" >
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="num != null" >
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ambow.springboot.entity.Purchase" >
    update purchase
    <set >
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ambow.springboot.entity.Purchase" >
    update purchase
    set order_num = #{orderNum,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="toListPurchaseByOrderNumber" resultMap="BaseResultMap1" parameterType="java.lang.Long" >
    select
    p.id as purchase_id,
    p.order_num as purchase_orderNum,
    p.goods_id as purchase_goodsId,
    p.num as purchase_num,
    g.id as goods_id,
    g.type_id as goods_typeId,
    g.name as goods_name,
    g.price as goods_price,
    g.discount as goods_discount,
    g.start_time as goods_startTime,
    g.end_time as goods_endTime,
    g.num as goods_num
    from purchase p,goods g
    where order_num = #{order_number,jdbcType=BIGINT}
           and p.goods_id=g.id
  </select>

  <resultMap id="BaseResultMap1" type="com.ambow.springboot.vo.PurchaseGoodsVo" >
    <result column="purchase_id" property="purchase_id" jdbcType="INTEGER" />
    <result column="purchase_orderNum" property="purchase_orderNum" jdbcType="BIGINT" />
    <result column="purchase_goodsId" property="purchase_goodsId" jdbcType="INTEGER" />
    <result column="purchase_num" property="purchase_num" jdbcType="INTEGER" />

    <result column="goods_id" property="goods_id" jdbcType="INTEGER" />
    <result column="goods_typeId" property="goods_typeId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goods_name" jdbcType="VARCHAR" />
    <result column="goods_price" property="goods_price" jdbcType="INTEGER" />
    <result column="goods_discount" property="goods_discount" jdbcType="INTEGER" />
    <result column="goods_startTime" property="goods_startTime" jdbcType="TIMESTAMP" />
    <result column="goods_endTime" property="goods_endTime" jdbcType="TIMESTAMP" />
    <result column="goods_num" property="goods_num" jdbcType="INTEGER" />
  </resultMap>
</mapper>