<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ambow.springboot.mapper.RolesMapper">
    <resultMap id="BaseResultMap" type="com.ambow.springboot.entity.Roles">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mean_name" property="meanName" jdbcType="VARCHAR"/>
        <result column="mean_url" property="meanUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, mean_name, mean_url
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from roles
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from roles
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ambow.springboot.entity.Roles">
    insert into roles (id, name, mean_name, 
      mean_url)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{meanName,jdbcType=VARCHAR}, 
      #{meanUrl,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.ambow.springboot.entity.Roles">
        insert into roles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="meanName != null">
                mean_name,
            </if>
            <if test="meanUrl != null">
                mean_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="meanName != null">
                #{meanName,jdbcType=VARCHAR},
            </if>
            <if test="meanUrl != null">
                #{meanUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ambow.springboot.entity.Roles">
        update roles
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="meanName != null">
                mean_name = #{meanName,jdbcType=VARCHAR},
            </if>
            <if test="meanUrl != null">
                mean_url = #{meanUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ambow.springboot.entity.Roles">
    update roles
    set name = #{name,jdbcType=VARCHAR},
      mean_name = #{meanName,jdbcType=VARCHAR},
      mean_url = #{meanUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="queryAll" resultMap="BaseResultMap">
    select * from roles;
  </select>
    <select id="getMeanByRoles" resultMap="BaseResultMap">
        select * from roles where name=#{roles,jdbcType=VARCHAR};
    </select>
</mapper>