<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
我是<p th:text="${uuid}">uuid</p><a th:href="@{/user/toIndex/{name}(name=${name})}">跳转</a>
<a href="javascript:" onclick="getUserList()">获取列表</a>
<a href="javascript:" onclick="getNewVar()">刷新变量</a>
<div id="uuid">
    <div id="form">
        <p th:text="${uuid}" id="uu">uuid</p>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script th:inline="javascript">
    function getNewVar() {
        $.ajax({
            url: "/user/getNewVar",
            success(data) {
                var span=document.getElementById("uu");
                span.innerHTML=data;
                $("#uuid").html(document.getElementById("form")).fadeIn('slow');
                $("#uuid").html(getUserList()).fadeIn('slow');
            }
        });
    }

    function getUserList() {
        $.ajax({
            url: "/user/getUserList",
            dataType: "json",
            success(data) {
                var select = document.createElement("select");
                select.id = "select";
                for (var i in data) {
                    var option = document.createElement("option");
                    option.innerHTML = data[i].name;
                    option.value = data[i].id;
                    select.appendChild(option);
                }
                document.getElementById("form").appendChild(select);
            }
        });
    }
</script>
</body>
</html>