<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>列表</title>
</head>
<body>
<script src="/js/user.js"></script>
<a href="javascript:" onclick="getUser()">获取用户列表</a>
<div id="main"></div>
<form action="/user/newUser" method="post">
    <input name="name"/>
    <input type="submit"/>
</form>
<a id="a" href="www.baidu.com">百度</a>
<button onclick="dianji()">点击</button>
<script>
    function dianji() {
        document.getElementById("a").click();
    }
</script>
</body>
</html>