<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>添加</title>
    <link rel="stylesheet" href="/frame/layui/css/layui.css"/>
    <link rel="stylesheet" href="/frame/static/css/style.css"/>
    <link rel="icon" href="/frame/static/image/code.png"/>
</head>

<body class="body">
<form class="layui-form layui-form-pane" id="form" action="/buy/tosave" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">采购员</label>
        <div class="layui-input-block">
            <select name="userId" lay-filter="aihao" id="roles">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">物品名称</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" autocomplete="off" placeholder="请输入物品名称" lay-verify="required"
                   class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单价</label>
        <div class="layui-input-block">
            <input type="number" id="price" name="price" autocomplete="off" placeholder="请输入物品单价（分）"
                   lay-verify="required" class="layui-input" maxlength="20"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">数量</label>
        <div class="layui-input-block">
            <input type="number" id="num" name="num" autocomplete="off" placeholder="请输入物品数量" lay-verify="required"
                   class="layui-input" maxlength="20"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" id="info" name="info" autocomplete="off" placeholder="请输入备注" lay-verify="required"
                   class="layui-input" maxlength="20" />
        </div>
    </div>


    <div class="layui-form-item">
        <button class="layui-btn" onclick="return submitNewUser()">提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

    </div>
</form>
</body>

</html>
<script src="/frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/buy.js"></script>
<script type="text/javascript">
    window.onload = getCaigouEmpList();
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate,
            element = layui.element;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');
        //监听提交
        // you code ...
    });
</script>