<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>点餐</title>
    <meta name="keywords" content="KEYWORDS..."/>
    <meta name="description" content="DESCRIPTION..."/>
    <meta name="author" content="DeathGhost"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name='apple-touch-fullscreen' content='yes'/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <!--导航栏渐变开始-->
    <link rel="stylesheet" href="/phone/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/phone/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/phone/css/swiper3.07.min.css"/>
    <link rel="stylesheet" href="/phone/css/index.css"/>
    <script src="/phone/js/jquery.js"></script>
    <script src="/phone/js/swiper.min.js"></script>
    <style>
        .addclasstruenav {
            color: #3acd17;
        }
    </style>
</head>

<body style="background-color: #fff;">
<!--banner-->
<div id="slide" class="public-banner" style="margin-top: 0;">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#">
                <img src="/phone/upload/banner1.jpg"/>
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/phone/upload/banner2.jpg"/>
            </a>
        </div>
    </div>
    <div class="pagination"></div>
</div>
<ul class="serviceList clearfix" style="margin: 0;">
    <li>
        <a id="button" href="javascript:" onclick="help()">
            <img src="/phone/img/fuwu (4).png"/>
            <p>呼叫服务员</p>
        </a>
    </li>
    <li>
        <a href="/jump/toDiscussList">
            <img src="/phone/img/fuwu (5).png"/>
            <p>看评论</p>
        </a>
    </li>
</ul>
<div style="height:1.2rem;"></div>
<nav>
    <a href="/empJump/toGoodsList" class="homeIcon addclasstruenav"><img src="/phone/img/index1-1.png"/>点餐</a>
    <a href="/empJump/toOrder" class="categoryIcon"><img src="/phone/img/index2.png"/>订单</a>
    <a href="/jump/toService" class="cartIcon numberCount"><img src="/phone/img/index3.png"/>服务</a>
    <a href="/empJump/toMy" class="userIcon"><img src="/phone/img/index4.png"/>我的</a>
</nav>
</body>

</html>
<!--banner-->
<script>
    $(document).ready(function () {
        var mySwiper = new Swiper('#slide', {
            autoplay: 5000,
            visibilityFullFit: true,
            loop: true,
            pagination: '.pagination',
        });
    });

    function help() {
        $.ajax({
            url: '/empJump/help',
            type: 'get',
            success(data) {
                if (data == 'success') {
                    alert('呼叫成功,20秒内无法再次呼叫！');
                    $("#button").removeAttr("onclick");
                    setTimeout(function () {
                        $("#button").attr("onclick", "help()");
                    }, 20000);
                }
            }
        });
    }
</script>